/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: #ffffff;

  color: #101b51;

  font-family: Arial, sans-serif;
}

button,
input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
} */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  background: #ffffff;
  color: #101b51;

  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button,
input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}